* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.6rem;
}

.container{
  background-color: #2a2a2a;
  width: 450px;
  height: 590px;
  border-radius: 18px;
  padding: 28px 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  
}

.search-box {
  text-align: center;
  padding: 1rem;
}

input {
  display: block;
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 0px 0px 16px 16px;
  margin-top: -44px;
  margin-left: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: #2b2b2b;
  color: #f8f8f8;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.2);
  
}

::placeholder {
  color: #f8f8f8;
}

.location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

img {
    width: 200px;
    height: 200px;
}

.weather-details {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.03);
  box-shadow: 0px 8px rgba(0, 0, 0, 0.2);
}

.bold {
  font-weight: bold;
}